* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;

}
.hero { 
    background-image: url(./section1.jpg);
    background-repeat: no-repeat;
    padding-top: 319px;
    padding-bottom:335px ;

}

.header {
    position: absolute;
    top: 0px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-bottom: #a1a1a1 1px solid;
    width: 100%;


}
.hero-p {
    /* Передова IT студія */

/* p */
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-align: center;

color: #FFFFFF;
margin-bottom: 20px;


}

.hero-h1 {
    /* Ми створюємо легкі рішення важких задач і проблем */

width: 829px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 64px;
text-align: center;

color: #FFFFFF;
margin: 0 auto;
margin-bottom: 50px;


}
.hero-button {
    /* first-screen__button */


width: 200px;
height: 45px;
display: block;
margin: 0 auto;
border-radius: 30px;
background-color: #4985FF;
/* Наші проекти */


font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #FFFFFF;


}
.container {
    width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.nav-header-list {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    /* Головна */


}
.nav-header-list-li-p {
/* p */
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #FFFFFF;

}
.section2 {
/* Ми створюємо мобільні додатки для великих корпорацій */

margin:0 auto;
width: 739px;
height: 93px;


/* h2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 53px;
text-align: center;

/* dark */
color: #323232;


}
.section2p1 {
    /* Lorem Ipsum - це текст-"риба", що часто використовується в пресі та веб-дизайні. Lorem Ipsum є стандартною "рибою" для текстів на латиниці з початку XVI ст. */


width: 730px;
margin: 0 auto;


/* p>h2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
text-align: center;
margin-top:  32px;

/* grey */
color: #999999;


}
.web {

    /* Створення сайтів */

width: 226px;


/* h3 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;


color: #000000;


}
.services {
    display: flex;
    justify-content: center;
    margin-top: 116px;
    gap: 27px;
}
.webp {
    /* Lorem Ipsum - це текст-"риба", часто використовує у пресі та веб-дизайні. */


width: 222px;

/* p>h3 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;

/* grey */
color: #999999;


}
.webimg {
    width: 40px;
    height: 40px;
    margin-right: 52px; 
    

}
.services1 {
    display: flex;
}
.ourprojectbutton {
    /* Всі послуги */

width: 128px;


font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #FFFFFF;
background-color: #4985FF;
display: block;
margin: 0 auto;
border-radius: 30px;
border: none;
outline: none;
width: 200px;
height: 45px;
margin-top: 55px;
}

